.container {
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}

.top {
    width: 100%;
    background-color: rgb(228, 227, 227);
    min-height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top strong {
    color: rgb(204, 118, 238);
    margin-left: 10px;
    top: 10px;
    font-weight: bold;
}

.board {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.title_board {
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
    color: rgb(204, 118, 238);
}

.content_board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}