* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroud: rgb(23, 107, 175);
  --backgroud-home: rgb(50, 91, 224);
  --border-color: rgb(168, 168, 168);
  --text-color: rgb(255, 255, 255);
  --text-color-link: rgb(212, 218, 252);
  --text-home-color: rgb(255, 255, 255);
  --backgroud-button-color: rgb(227, 227, 228);
}

button, input, textarea {
    border-style: none;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

@media(max-width: 700px) {
  html{
      font-size: 50%;
  }
}

@media(max-width: 600px) {
  html{
      font-size: 45%;
  }
}

@media(max-width: 450px) {
  html{
      font-size: 55%;
  }
}
