.container {
    min-width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
}

.content_container{
    min-width: 95%;
    max-width: 300px;
}

.title {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.88);
}

.content {
    color: rgba(0, 0, 0, 0.56);
    white-space: normal;
}