table {
  margin: auto;
  border-radius: 40px;
}
td {
  text-align: center;
  padding: 5px;
}

input {
  width: 500px;
  height: 50px;
}

.textoCampo {
  font-size: 20px;
}

.titulo {
  font-size: 25px;
}

.textoValor {
  font-size: 20px;
}

a {
  text-decoration: none;
}

textarea {
  resize: vertical;
}

.navbar a {
  color: #f4f4f4;
}

.footer a {
  color: #f4f4f4;
}

.navbar {
  background-color: #4f4f4f;
}

.footer {
  background-color: #4f4f4f;
}
