<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Histórico de Consultas</title>
  </head>
  <body>
    <h2><center>Histórico de Consultas</center></h2>
    <table style="width: 80%; margin: auto; border: 1px black solid">
      <tr>
        <td colspan="6">
          <center><h3>08/02/2023</h3></center>
        </td>
      </tr>
      <tr>
        <td style="width: 23%">
          <h4>Médico</h4>
        </td>
        <td style="width: 12%">
          <h4>Especialidade</h4>
        </td>
        <td style="width: 8%">
          <h4>Horário</h4>
        </td>
        <td style="width: 8%">
          <h4>Valor</h4>
        </td>
        <td style="width: 23%">
          <h4>Diagnóstico</h4>
        </td>
        <td rowspan="2" style="width: 12%">
          <button>Visualizar Consulta</button>
        </td>
      </tr>
      <tr>
        <td>João da Silva Silveira</td>
        <td>Oftalmologista</td>
        <td>11:20</td>
        <td>Retorno</td>
        <td>O paciente está continua com um cisco no olho</td>
      </tr>
      <tr>
        <td style="width: 23%">
          <h4>Médico</h4>
        </td>
        <td style="width: 12%">
          <h4>Especialidade</h4>
        </td>
        <td style="width: 8%">
          <h4>Horário</h4>
        </td>
        <td style="width: 8%">
          <h4>Valor</h4>
        </td>
        <td style="width: 23%">
          <h4>Diagnóstico</h4>
        </td>
        <td rowspan="2" style="width: 12%">
          <button>Visualizar Consulta</button>
        </td>
      </tr>
      <tr>
        <td>Mariana Santana dos Santos</td>
        <td>Psicóloga</td>
        <td>09:00</td>
        <td>R$200,00</td>
        <td>O paciente parece ser paranóico</td>
      </tr>
      <tr>
        <td style="width: 23%">
          <h4>Médico</h4>
        </td>
        <td style="width: 12%">
          <h4>Especialidade</h4>
        </td>
        <td style="width: 8%">
          <h4>Horário</h4>
        </td>
        <td style="width: 8%">
          <h4>Valor</h4>
        </td>
        <td style="width: 23%">
          <h4>Diagnóstico</h4>
        </td>
        <td rowspan="2" style="width: 12%">
          <button>Visualizar Consulta</button>
        </td>
      </tr>
      <tr>
        <td>Joaquim de Aquino</td>
        <td>Cardiologista</td>
        <td>18:00</td>
        <td>R$120,00</td>
        <td>O paciente está com o coração em bom estado</td>
      </tr>
      <tr>
        <td colspan="6">
          <center><h3>01/02/2023</h3></center>
        </td>
      </tr>
      <tr>
        <td style="width: 23%">
          <h4>Médico</h4>
        </td>
        <td style="width: 12%">
          <h4>Especialidade</h4>
        </td>
        <td style="width: 8%">
          <h4>Horário</h4>
        </td>
        <td style="width: 8%">
          <h4>Valor</h4>
        </td>
        <td style="width: 23%">
          <h4>Diagnóstico</h4>
        </td>
        <td rowspan="2" style="width: 12%">
          <button>Visualizar Consulta</button>
        </td>
      </tr>
      <tr>
        <td>João da Silva Silveira</td>
        <td>Oftalmologista</td>
        <td>16:40</td>
        <td>R$150,00</td>
        <td>O paciente está com um cisco no olho</td>
      </tr>
    </table>
  </body>
</html>
