.container {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 40px;
}

.top {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.top strong {
    margin-left: 10px;
    top: 10px;
    font-weight: bold;
}

.board {
    width: 100%;
    padding: 5px;
    left: 0;
}

.board div {
    margin-bottom: 10px;
}

.title_board {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10x;
    color: rgb(43, 69, 212);
}

.content_board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}